name: NextJS S3 & CloudFront Pipeline

on:
  push:
    branches: [ main ]
    paths:
      - 'src/**'   # TASK: Only runs when the "real software" changes

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # TASK: Build the "Real" Software (Next.js)
      - name: Install and Build Next.js
        working-directory: ./src
        run: |
          npm ci
          npm run build
          # This command creates the 'out' folder (standalone HTML/CSS/JS)

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: eu-north-1

      # TASK: Deploy to S3
      - name: Deploy to S3
        run: |
          # Sync the build folder ('out') to the bucket root
          aws s3 sync ./src/out s3://aws-s3-project-bojan-2026 --delete

      # TASK: Invalidate CloudFront (Clear Cache)
      - name: Invalidate CloudFront
        run: |
          # Tells CloudFront: "My files changed, please delete the old copies"
          aws cloudfront create-invalidation --distribution-id E3SVPDDLTNQN6M --paths "/*"