name: S3 Sync Pipeline

on:
  push:
    branches: [ main ]

permissions:
  id-token: write   # This is required for requesting the OIDC JWT Token
  contents: read    # This is required for actions/checkout

jobs:
  s3-sync-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: eu-north-1

      - name: Sync to S3 Bucket
        run: |
          # Syncs current folder (.) to your bucket, excluding hidden git files
          aws s3 sync . s3://aws-s3-project-bojan-2026 --exclude ".git/*" --exclude ".github/*"